:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .picker {
    width: 300px;
  }

  .counter {
    font-size: 1em;
    line-height: 1em;
  }

  .example-box {
    width: 256px;
    height: 256px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(ellipse at center, #c72223, #401111);
    border-radius: 50%;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: 400ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 30px 30px 20px 20px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .example-box:active {
    box-shadow: 30px 30px 20px 20px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .example-boundary {
    width: 512px;
    height: 512px;
    border-radius: 25%;
    max-width: 100%;
    background-color: darkslategray;
    box-sizing: border-box;
  }
}
